spring:
  application:
    name: hadoop
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
server:
  port: 8080


#hdfs:
#  path: hdfs://192.168.2.2:9000
#  username: root

hdfs:
  path: hdfs://172.16.104.203:9000
  username: root

HBase:
  nodes:  172.16.104.203
  maxsize: 500000

# 使用sqoop查看mysql中的数据表：
#   ./sqoop list-databases --connect jdbc:mysql://172.16.104.204:3306/atmosphere_data_analysis?characterEncodingg=UTF-8 --username root --password 'bigdata'

# 把MySQL中的表导入hdfs中
# sqoop import -m 1 --connect jdbc:mysql://172.16.104.204:3306/atmosphere_data_analysis --username root --password bigdata --table tb_sys_log --target-dir /tb_sys_log
